@media only screen and (max-width: 767px) and (min-width: 320px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
}

.accordion__button:before {
  float: right !important;
  margin-right: 0px !important;
}

.ant-table-tbody > tr > td {
  padding: 16px 4px !important;
}

.ant-table {
  font-size: 12px !important;
}

.ant-table-body {
  width: 100%;
  overflow-x: scroll;
  height: 600px;
  overflow-y: scroll;
}

.ant-table-row > td {
  background: "none";
  white-space: nowrap;
}
